div.scroll{
    background: rgb(202, 107, 202);
    width: 150px;
    height: 150px;
    overflow: scroll;
}

div.hidden{
    background: rgb(202, 107, 202);
    width: 150px;
    height: 150px;
    overflow: hidden;
}

div.auto{
    background: rgb(202, 107, 202);
    width: 150px;
    height: 150px;
    overflow: auto;
}

div.visible{
    background: rgb(202, 107, 201);
    width: 150px;
    height: 150px;
    overflow: visible;
}