<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Básica</title>
    <link rel="stylesheet" href="./estilos.css">
</head>
<body>
    <div class="contenedor">
        <header>
            <nav>
                <ul class="menu">
                    <li><a href=".">Inicio</a></li>
                    <li><a href=".">Acerca de</a></li>
                    <li><a href=".">Productos</a></li>
                    <li><a href=".">Contacto</a></li>
                </ul>
            </nav>
        </header>

        <section class="main">

            <div class="imagen">
                <img src="./img/altumcode-XMFZqrGyV-Q-unsplash.jpg" alt="" width="500" height="400">

            </div>

            <section class="post">
                <article>
                    <h2> Título del artículo</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    </p>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, cupiditate iste? Nesciunt vel dolor quidem, itaque ipsum iure veritatis dignissimos facilis quasi nulla natus, officia earum minima sunt illo est?
                    </p>
                </article>
            </section>
            </section>

            <aside>
                <div class="widget">
                <h3>Artículos destacados</h3>
                <ul>
                    <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. </a></li>
                    <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. </a></li>
                    <li><a href="">Lorem ipsum dolor sit amet consectetur adipisicing elit. </a></li>
                </ul>
                </div>

                <div class="widget">
                    <h3 class="titulo">Qué puede esperar el futuro de la programación</h3>
                    <ul>
                        <li><a href="">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a> 
                        </li>
                    </ul>
                </div>

            </aside>
            <footer>Juls all rights reserved</footer>
        




    </div>
    
</body>
</html>